* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.one-list{
  padding: 24px;
}

.gallery{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.js-li-t2{
  display: flex;
  justify-content: flex-start;
}

.js-img{
  width: 360px;
  height: auto;
}

.input-css{
  height: 32px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.form-log-btn{
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 88px;
  height: 40px;
  background-color: #4E75FF;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
}

.form-log-btn:hover {
  background-color: #6C8CFF;
}

.form-label{
  display: block; 
  margin-bottom: 8px; 
}

.form-input{
  display: block;
  border-radius: 4px;
  width: 360px;
  height: 30px;
}

.change-color{
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 148px;
  height: 40px;
  background-color: #4E75FF;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
}

.task-container{
  display: flex;
  gap: 20px;
}

.text-input{
  width: 120px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}

.destroy-button{
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 120px;
  height: 40px;
  background-color: #FF4E4E;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
}

.create-button{
  color: #FFF;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 120px;
  height: 40px;
  background-color: #4E75FF;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
}